<div class = 'container'>
	<table class = 'table table-hover'>
	  <div class = 'header'>
		<h3>Bilgilerim</h3>
	  </div>  
	  <br>
	  <tr>
		<th>Ad:</th>
		<td>{{ players.playerName }}</td>
	  </tr>
	  <tr>
		<th>Soyad:</th>
		<td>{{players.playerSurname }}</td>
	  </tr>
	  <tr>
		
	
	  
	</table>

	<div class="col-sm-6" style="text-align: right">
            
		<button type = 'button' class = 'btn btn-lg btn-primary btn-block ' (click) = 'updateLink(players)' >    
		
				Duzenle 

			</button>
	
</div>
  </div>